:root {
  --font-family-main: verdana, geneva, tahoma, sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  --primary-color: #3B71FE;
  --secondary-color: #58C27D;
  --bg-color-primary-btn-hover: #0042EC;
  --bg-color-secondary-btn-hover: #42B168;
  --border-radius: 24px;
  --border-color-focus: #777E90;
  --modal-border-radius: 16px;
  --icon-size: 24px;
}
