.app.light {
  --bg-color: #fff;
  --bg-color-inverted: #121212;
  --surface-color-01dp: #fff;
  --header-color: var(--primary-color);
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --font-color-h: rgb(18 18 18 / 87%);
  --font-color-m: rgb(18 18 18 / 60%);
  --font-color-disabled: rgb(18 18 18 / 33%);
}
