.app.light {
  --bg-color: #ffffff;
  --bg-color-inverted: #121212;

  --surface-color-01dp: #ffffff;

  --primary-color: #6200ee;
  --secondary-color: #03dac6;

  --font-color-h: rgba(18, 18, 18, 0.87);
  --font-color-m: rgba(18, 18, 18, 0.6);
  --font-color-disabled: rgba(18, 18, 18, 0.33);
}
