.AppLink {
  text-decoration: none;
  margin-left: 20px;

  transition: all .2s ease-in;
}

.default {
  color: var(--font-color-m);

  &:hover {
    color: var(--font-color-h);
  }
}

.primary {
  color: var(--font-color-m);

  &:hover {
    color: var(--primary-color);
  }
}
